In [1]:
import numpy as np
import pandas as pd

In [2]:
lst = [1,2,3,4]
my_data = ['a','b','c','d']
arr = np.array(my_data)
d = {'a':1,'b':2,'c':3,'d':4}

In [3]:
pd.Series(lst)

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
pd.Series(my_data)

0    a
1    b
2    c
3    d
dtype: object

In [5]:
pd.Series(d)

a    1
b    2
c    3
d    4
dtype: int64

In [10]:
pd.Series(data=lst,index=my_data)

a    1
b    2
c    3
d    4
dtype: int64

In [11]:
pd.Series(my_data,lst)

1    a
2    b
3    c
4    d
dtype: object

In [16]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])

In [17]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [18]:
ser2 = pd.Series([1,2,5,4],['USA','Germany','Italy','Japan'])

In [19]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [20]:
ser1['USA']

1

In [21]:
pd.Series(lst)[0]

1

In [23]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64