In [2]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [3]:
np.random.seed(101)

In [4]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['X','Y','Z','W'])

In [5]:
df

          X         Y         Z         W
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [6]:
type(df['W'])

pandas.core.series.Series

In [7]:
df['W']

A    0.503826
B    0.605965
C   -0.589001
D    0.955057
E    0.683509
Name: W, dtype: float64

In [8]:
df.W

A    0.503826
B    0.605965
C   -0.589001
D    0.955057
E    0.683509
Name: W, dtype: float64

In [9]:
df[['W','X']]

          W         X
A  0.503826  2.706850
B  0.605965  0.651118
C -0.589001 -2.018168
D  0.955057  0.188695
E  0.683509  0.190794

In [10]:
# adding new column
df['New'] = df['X'] + df['W']

In [11]:
df

          X         Y         Z         W       New
A  2.706850  0.628133  0.907969  0.503826  3.210676
B  0.651118 -0.319318 -0.848077  0.605965  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057  1.143752
E  0.190794  1.978757  2.605967  0.683509  0.874303

In [12]:
# Dropping column
df.drop('New',axis=1,inplace=True)

In [13]:
df

          X         Y         Z         W
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [16]:
df.loc['A']

X    2.706850
Y    0.628133
Z    0.907969
W    0.503826
Name: A, dtype: float64

In [17]:
df.iloc[0]

X    2.706850
Y    0.628133
Z    0.907969
W    0.503826
Name: A, dtype: float64

In [18]:
df.loc['D','W']

0.9550565092637361

In [19]:
df.loc[['B','E'],['Y','Z']]

          Y         Z
B -0.319318 -0.848077
E  1.978757  2.605967

In [21]:
df.shape

(5, 4)