In [6]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [3]:
#np.random.seed(101)

In [4]:
outside =['G1','G1','G1','G2','G2','G2']
inside =[1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [13]:
df = pd.DataFrame(randn(6,3),hier_index,['A','B','C'])
df

             A         B         C
G1 1  3.196744 -0.638798 -0.594571
   2  0.026858  0.424680  0.750731
   3 -0.059555 -0.699674  1.413448
G2 1  0.207469  0.493807  1.160169
   2 -2.127698 -0.916017 -1.322298
   3 -0.935683  2.076249 -0.092676

In [15]:
df.shape

(6, 3)

In [16]:
df.loc['G1']

          A         B         C
1  3.196744 -0.638798 -0.594571
2  0.026858  0.424680  0.750731
3 -0.059555 -0.699674  1.413448

In [19]:
df.loc['G1'].loc[2]['C']

0.7507311371154127

In [22]:
df.index.names = ['Groups','Num']

In [23]:
df

                   A         B         C
Groups Num
G1     1    3.196744 -0.638798 -0.594571
       2    0.026858  0.424680  0.750731
       3   -0.059555 -0.699674  1.413448
G2     1    0.207469  0.493807  1.160169
       2   -2.127698 -0.916017 -1.322298
       3   -0.935683  2.076249 -0.092676

In [26]:
df.xs('G1')

            A         B         C
Num
1    3.196744 -0.638798 -0.594571
2    0.026858  0.424680  0.750731
3   -0.059555 -0.699674  1.413448

In [30]:
df.xs(1,level='Num')

               A         B         C
Groups
G1      3.196744 -0.638798 -0.594571
G2      0.207469  0.493807  1.160169